<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IP" value="127.0.0.1"/> <!-- 192.168.1.33 90.184.163.191-->
    <add key="Port" value="8808"></add>
  </appSettings>
</configuration>